/* Jisang custom */
body {
  padding-top: 50px;
  text-decoration: none;
  list-style: none;
}
nav {
  background: #3565af;
}
nav ul li a {
  color: #fff;
}
.navbar ul li a:hover {
  background-color: #3565af !important;
  color: #13439f;
}
.navbar ul li a:focus {
  background-color: #3565af !important;
  color: #13439f;
}
.navbar-nav li .dropdown-menu {
  background: #3565af;
}
.navbar-nav li .dropdown-menu li a {
  color: #fff;
}
.navbar-nav li .dropdown-menu li a:hover {
  color: #13439f;
}
button.navbar-toggle {
  border: 1px solid #aaa;
}
button.navbar-toggle .icon-bar {
  background-color: #fff;
}

.brand-logo {
  width: 50px;
}
.wrap h1 {
  font-size: 40px;
  font-weight: 500;
}
.wrap h3 {
  font-size: 18px;
  font-weight: 600;
}
.banner {
  padding: 75px 0;
}
#index-banner {
  height: 880px;
  background: url(/assets/img/background-macbookair.jpg) fixed;
  background-size: cover;
}
#index-logo p {
  text-align: center;
  margin: 0 auto;
}
#index-logo p img {
  display: inline-block;
  width: 387px;
  margin-top: 300px;
  margin-bottom: 30px;
}
#about-banner {
  background-color: #313842;
  color: #fff;
  text-align: center;
}
#about-banner h3 {
  color: #5787cf;
  margin: 40px 0 18px;
  line-height: 25px;
}
#about-banner p {
  font-size: 14px;
  line-height: 24px;
  color: #cccccc;
  margin: 0 auto;
}
#team-banner {
  text-align: center;
}
#team-banner h3 {
  color: #3565af;
  margin: 18px 0 40px;
  line-height: 25px;
}
#service-banner {
  background-color: #eeeeee;
  text-align: center;
}
#service-banner p {
  font-size: 21px;
  line-height: 24px;
  color: #333333;
  margin: 20px 0;
}
#service-banner h3 {
  color: #3565af;
  margin: 18px 0 40px;
  line-height: 25px;
}

#contact-banner {
  text-align: center;
}
#contact-banner h3 {
  color: #3565af;
  margin: 18px 0 40px;
  line-height: 25px;
}
#contact-banner form {
  text-align: left;
}
#contact-banner form button {
  text-align: right !important;
}
#map {
  padding-left: 0;
  height: 482px;
}
#map iframe {
  width: 100%;
  height: 100%;
}
#contactform {

}

footer {
  background: #3565af;
  color: #fff;
  padding: 30px 0;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #fff;
}
footer ul {
  list-style: none;
}
#top {
  margin-top: 50px;
}
#footer-connect li {
  display: inline;
}
#copyright {
  text-align: center;
  padding-top: 30px;
}


/* 미디어 쿼리 */

/* 가장 작은 기기들 */
@media (max-width: 768px) {
  .wrap h1 {
    font-size: 32px;
    font-weight: 500;
  }
  .wrap h3 {
    font-size: 16px;
    font-weight: 600;
  }
  #index-banner {
    height: 567px;
    background-size: auto;
  }
  #index-logo p img {
    width: 257px;
    margin-top: 150px;
    margin-bottom: 30px;
  }
  .banner {
    padding: 35px 0;
  }
  #map {
    padding: 0 0 25px 0;
    height: 250px;
  }
  footer ul {
    padding-left: 0;
  }
  footer ul li {
    padding-right: 15px;
  }
  #footer-sec1 {
    padding-bottom: 10px;
  }
  #footer-sec2 {
    padding-bottom: 10px;
  }
  #footer-sec3 {

  }
  #footer-company li {
    display: inline;
  }
}

/* 작은 기기들 (태블릿, 768px 이상) */
@media (min-width: 768px) and (max-width: 992px) {
  footer ul {
    padding-left: 0;
  }
  footer ul li {
    padding-right: 15px;
  }
  #footer-sec1 {
    padding-bottom: 10px;
  }
  #footer-sec2 {
    padding-bottom: 10px;
  }
  #footer-sec3 {

  }
  #footer-company li {
    display: inline;
  }
}

/* 중간 기기들 (데스크탑, 992px 이상) */
@media (min-width: 992px) and (max-width: 1200px) {
}

/* 큰 기기들 (큰 데스크탑, 1200px 이상) */
@media (min-width: 1200px) {
}
